<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group label-floating">
      <label class="control-label" for="focusedInput2">Donde</label>
      <input class="form-control" id="focusedInput2" type="text">
      <p class="help-block">Donde</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group label-floating">
      <label class="control-label" for="focusedInput2">Cuando</label>
      <!--<input class="form-control" id="focusedInput2" type="text">-->
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <p class="help-block">Cuando</p>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
    <div class="form-group label-floating">
      <label class="control-label" for="focusedInput2">Cuantos</label>
      <select id="select111" class="form-control">
          <option></option>
          <option>Futbol 5</option>
          <option>Futbol 8</option>
          <option>Futbol 11</option>
        </select>
      <p class="help-block">Cuantos</p>
    </div>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs warning">
    <li class="active"><a data-toggle="tab" href="#home">TORNEOS</a></li>
    <li><a data-toggle="tab" href="#menu1">MAPA</a></li>
  </ul>
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active" style="margin-top:1em !important;">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="jumbotron">
          <img src="../assets/images/torneo1.jpg" class="img img-responsive">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h5>
              $120.000
            </h5>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h5>
              Futbol 8 en nueva sede americas
            </h5>
          </div>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-raised btn-info btn-lg btn-block">Ver mas</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="jumbotron">
          <img src="../assets/images/torneo2.jpg" class="img img-responsive">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h5>
              $90.000
            </h5>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h5>
              Futbol 11 en copa emprendedores
            </h5>
          </div>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-raised btn-info btn-lg btn-block">Ver mas</a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <div class="jumbotron">
          <img src="../assets/images/torneo3.jpg" class="img img-responsive">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h5>
              $100.000
            </h5>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h5>
              Futbol 8 en solofutbol sede norte
            </h5>
          </div>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-default btn-fab"><i class="material-icons">grade</i></a>
          <a href="javascript:void(0)" class="btn btn-raised btn-info btn-lg btn-block">Ver mas</a>
        </div>
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>MAPA</h3>
      <p>Some content in menu 1.</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
    console.log('ok');
  });
</script>